.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-content{
  background-color: lightgrey;
}
